In [1]:
import pandas as pd
import numpy as np

In [2]:
es = pd.read_csv("C:/Users/Prisc/Downloads/EmployeeSatisfactionIndex/Employee Satisfaction Index.csv")

#### About Dataset
#### emp_id - Unique ID
#### age - Age
#### Dept - Department
#### location - Employee location
#### education - Employees education status
#### recruitment_type - Mode of recruitment
#### job_level - 1 to 5. The job level of the employee. 1 being the least and 5 being the highest position
#### rating - 1 to 5. The previous year rating of the employee. 1 being the least and 5 being the highest position
#### onsite - Has the employee ever went to an onsite location? 0 and 1
#### awards - No. of awards
#### certifications - Is the employee certified?
#### salary - Net Salary
#### satisfied - Is the employee satisfied with his job?

In [3]:
es.head()

,Unnamed: 0,emp_id,age,Dept,location,education,recruitment_type,job_level,rating,onsite,awards,certifications,salary,satisfied,Unnamed: 14,Unnamed: 15,Unnamed: 16
0,0.0,HR8270,28.0,HR,Suburb,PG,Referral,5.0,2.0,0.0,1.0,0.0,86750.0,1.0,NaN,NaN,NaN
1,1.0,TECH1860,50.0,Technology,Suburb,PG,Walk-in,3.0,5.0,1.0,2.0,1.0,42419.0,0.0,NaN,NaN,NaN
2,2.0,TECH6390,43.0,Technology,Suburb,UG,Referral,4.0,1.0,0.0,2.0,0.0,65715.0,0.0,NaN,NaN,NaN
3,3.0,SAL6191,44.0,Sales,City,PG,On-Campus,2.0,3.0,1.0,0.0,0.0,29805.0,1.0,NaN,NaN,NaN
4,4.0,HR6734,33.0,HR,City,UG,Recruitment Agency,2.0,1.0,0.0,5.0,0.0,29805.0,1.0,NaN,NaN,NaN

##  Question: Are employees satisfied with their work life?

## Subsetting columns

In [15]:
es1= es[['age', 'Dept', 'location', 'education', 'recruitment_type', 'job_level', 'rating', 'onsite', 'salary', 'satisfied']]

#### Look for nan's and remove

In [10]:
es1.isna().sum()

age                 21
Dept                21
location            21
education           21
recruitment_type    21
job_level           21
rating              21
onsite              21
salary              21
satisfied           21
dtype: int64

In [12]:
es1 = es1.dropna()

In [5]:
es1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 521 entries, 0 to 520
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   age               500 non-null    float64
 1   Dept              500 non-null    object
 2   location          500 non-null    object
 3   education         500 non-null    object
 4   recruitment_type  500 non-null    object
 5   job_level         500 non-null    float64
 6   rating            500 non-null    float64
 7   onsite            500 non-null    float64
 8   salary            500 non-null    float64
 9   satisfied         500 non-null    float64
dtypes: float64(6), object(4)
memory usage: 40.8+ KB

In [7]:
es1.education.unique()

array(['PG', 'UG', nan], dtype=object)

In [8]:
es1.recruitment_type.info()

<class 'pandas.core.series.Series'>
RangeIndex: 521 entries, 0 to 520
Series name: recruitment_type
Non-Null Count  Dtype
--------------  -----
500 non-null    object
dtypes: object(1)
memory usage: 4.2+ KB